{
  "extends": [
    "airbnb",
    "eslint:recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "indent": [
      "error",
      "tab"
    ],
    "linebreak-style": [
        "error",
        "unix"
    ],
    "quotes": [
        "error",
        "single"
    ],
    "semi": [
        "error",
        "always"
    ]
  },
  "parserOptions" : {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": [
      "react"
  ]
 }
