.truncate {
  width: 100%;
  overflow: ellipsis;
}

.card {
  margin-left: 220px;
  width: 80%;
}

.paragraph-text {
  font-size: 1.1em;
}

.author-text {
  margin-left: 15px;
  font-size: 1.1em;
}

.material-icons {
  margin-left: 20px;
  margin-right: 5px;
  color: #8d8a8a;
}

#something {
  font-family: -apple-system, Roboto;
  font-weight: 500;
}
#pagination {
  margin-left: 220px;
  width: 100%;
  overflow: ellipsis;
}
.like-dislike {
  color: #35a7ff;
}

.likebuttons {
  color: #35a7ff;
  position: fixed;
  left: 23px;
  bottom: 23px;
  padding-bottom: 400px;
  margin-bottom: 0;
  z-index: 998;
}
