.description{
    color: gray;
}

.follow{
    border-color: #007CBE !important;
    color: #0971AB !important;
    background-color: aliceblue !important;
}

.tags-btn{
    margin-left: 10px;
    border-color: #007CBE !important;
    color: #0971AB !important;
    background-color: aliceblue !important;
    border-radius: 5% !important;
}

.prof-img{
    width: 50px;
    margin-left: 10px;
}

.bd-image img {
    width: 80% !important;
    height: 20% !important;
}
.danger {
    color: white; 
    background-color: Red !important;
    height: 30px;

}