.nav-wrapper {
  background: #ffff !important;
}
#emboss {
  margin-left: 1em;
  color: #000 !important;
  font-family: sans-serif;
  float: left;
  font-size: 25px;
}
.img-responsive {
  padding-top: 5px !important;
  max-height: 55px !important;
  float: left !important;
  margin-right: 0.4em !important;
}
.v1 {
  margin: 16px 8px;
  height: 30px;
  border-left: 1px solid black;
  float: left;
}
