.nav-wrapper a {
  color: lightgreen;
}

@media only screen and (min-width: 768px) {
  .nav-wrapper {
    margin: 0 100px 0 100px;
  }
}

.bio {
  color: gray;
}

.username {
  color: black;
}

.edit {
  background-color: #35a7ff;
}

.card-action a {
  color: #35a7ff !important;
  text-transform: none !important;
}

.profile {
  background-color: #ffffff;
}

.editPage {
  width: 400px;
}

.editPageProfile {
  margin-left: 100px !important;
}

.statistics li {
  display: inline;
  margin-right: 25px;
}
.number {
  margin-right: 5px;
  color: black !important;
}
.username {
  font-size: 40px;
}

.details {
  height: 200px;
}

.editComponent {
  margin-top: 100px;
}
